@model ProgramskoInzenjerstvo.Models.BiljeUporaba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BiljeUporaba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uporaba)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uporaba)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bilje.Rod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bilje.Rod)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDBiljeUporaba }) |
    @Html.ActionLink("Back to List", "Index")
</p>
