@model IEnumerable<ProgramskoInzenjerstvo.Models.PosiljkaNarudzba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kupac.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosiljkaStanje.Stanje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kupac.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosiljkaStanje.Stanje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPosiljkaNarudzba }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPosiljkaNarudzba }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPosiljkaNarudzba })
        </td>
    </tr>
}

</table>
