@model ProgramskoInzenjerstvo.Models.BiljeNarudzba


@{
    ViewBag.Title = "Detalji";
}
<h1 class="text-uppercase text-primary text-left" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    Detalji</h1>

    <div>
        <h4>Narudzba</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kolicina)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kolicina)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CijenaDogovoreno)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CijenaDogovoreno)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bilje.Rod)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bilje.Rod)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MjernaJedinica.MjernaJedinica1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MjernaJedinica.MjernaJedinica1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PosiljkaNarudzba.IDPosiljkaNarudzba)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PosiljkaNarudzba.IDPosiljkaNarudzba)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Uredi", "Edit", new { id = Model.IDBiljeNarudzba }) |
        @Html.ActionLink("Natrag na listu", "Index")
    </p>
